.heading{
    color: red;
    background-color: blue;
}
*{
    text-align: center;
}
.font-style{
    font-family: 'Times New Roman', Times, serif;
}
.msg{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 255);
}

.msg1{
    background-color: rgb(0, 0, 255);
    color: rgb(255, 0, 0);
}
.msg2{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 255);
}